@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #f0f0f0;
}

h1 {
    font-family: "Arvo", serif;
}
h2 {
    font-family: "Arvo", serif;
}
p {
    font-family: "Arvo", serif;
}
